<?xml version="1.0" encoding="utf-8"?>
<manifest package="www.lexiang.com.lexiang"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".avtivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".avtivity.ForgetpwdActivity"/>
        //修改密码
        <activity android:name=".avtivity.fragment.AffirmpwdActivity"/>
        //完成修改
        <activity android:name=".MainActivity"/>
        <activity android:name=".Fragment.mine.MyDongTaiActivity">
        </activity>
        <activity android:name=".Fragment.mine.BlackNameActivity">
        </activity>
        <activity android:name=".Fragment.mine.MyZiLiaoActivity">
        </activity>
        <activity android:name=".Fragment.mine.ModifyNameActivity">
        </activity>
        <activity android:name=".Fragment.mine.PersonIntroActivity">
        </activity>
        <activity android:name=".Fragment.mine.ModifyAddressActivity">
        </activity>
        <activity android:name=".Fragment.mine.ModifyPswActivity">
        </activity>
        <activity android:name=".Fragment.mine.MyCollectActivity">
        </activity>
        <activity android:name=".Fragment.mine.MyJifenActivity">
        </activity>
        <activity android:name=".Fragment.mine.JifenJiluActivity">
        </activity>
        <activity android:name=".Fragment.mine.SettingActivity">
        </activity>
        <activity android:name=".Fragment.mine.YijianActivity">
        </activity>
        <activity android:name=".Fragment.mine.AboutUSActivity">
        </activity>
        <activity android:name=".Fragment.mine.ShareAppActivity">
        </activity>
        <activity android:name=".Fragment.mine.ZhiNanActivity">
        </activity>
        <activity android:name=".Fragment.mine.MyServiceActivity">
        </activity>
        <activity android:name=".Fragment.mine.CreateServiceActivity">
        </activity>
        <activity android:name=".Fragment.mine.ServiceAddActivity">
        </activity>
    </application>

</manifest>